# Ignore virtual environment folder
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore joblib model files
*.joblib

# Ignore weights or large binary files (optional)
*.pt

# Ignore Docker-related files (optional)
docker-compose.yml
Dockerfile
